@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #191d24;
  --primary-light: #1d222a; /*lightness +2*/
  --primary-light-extra: #262c36; /*lightness +6*/
  --primary-light-ultra: #2f3642; /*lightness +10*/
  --primary-light-supra: #465062; /*lightness +20*/
  --secondary: #ff9f1c;
  --text: #ffffff;
  --text-darken: #cccccc;
  --text-warning: #ff291a;
  --text-placeholder: #58677e;
}

a, input, button, div, label, select, span, strong {
  outline: none;
}

h1, h2, h3 {
  margin: 0;
}

button {
  font-family: "Albert Sans", sans-serif;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

html, body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
}